<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.com.lig.module_base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".widget.MWebActivity" android:launchMode="singleTop"/>
        <activity android:name=".widget.InviteNewActivity"/>
    </application>

</manifest>
